@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Inter:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-red: #D40000;
  --color-brand-dark: #151515;
  --color-brand-black: #0A0A0A;
  --color-brand-gold: #D4AF37;
  --color-wa-bubble: #E2FFC7;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
